<!DOCTYPE html>
<html>

<head>
    <title>User List</title>
</head>

<body>
    <h1>User List</h1>
    <a href="/test/create">Create User</a>
    <ul>
        {% for user in users %}
        <li>{{ user.name }} - {{ user.email }}
            <a href="/test/{{ user.id }}/edit">Edit</a>
            <form action="/test/{{ user.id }}/delete" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>

</html>